.form-control,
.btn,
.form-check-input {
  border-radius: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2196f3;
  font-family: "Oswald", sans-serif;
}

body {
  font-family: "Roboto", sans-serif !important;
}

.p-autocomplete .p-inputtext {
  border-radius: 0px;
  width: 100%;
  padding: 5px 10px 5px 30px;
}
.p-autocomplete {
  width: 100%;
}
.p-autocomplete::before {
  content: "\f002";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 10px;
  left: 10px;
}
.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  padding: 5px 15px;
}

.p-inputtext {
  border-radius: 0px;
  width: 100%;
  padding: 5px 5px 5px 30px;
}
.p-calendar,
.p-chips {
  width: 100%;
}
.p-calendar:before {
  content: "\f073";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 10px;
  left: 10px;
}

.p-editor-container .p-editor-toolbar {
  background: #f8f9fa;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.p-editor-container .p-editor-content {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
